{% extends 'common/base.html'%}

{% block title %} {{title}} {% endblock title %}
{% block description %} This is {{title}} page{% endblock description %}

<!-- {% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel = "stylesheet" href="{% static 'css/style.css' %}"/>
    {% tailwind_css %}
</head>

<body>
    <p>This is home page template1234</p>
    <img src="{% static 'images/example.avif' %}" alt="example"/>
    <table border="1">
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
        </tr>
        <tr>
            <td>Row 1, Column 1</td>
            <td>Row 1, Column 2</td>
            <td>Row 1, Column 3</td>
        </tr>
        <tr>
            <td>Row 2, Column 1</td>
            <td>Row 2, Column 2</td>
            <td>Row 2, Column 3</td>
        </tr>
    </table>
</body>
</html> -->